body {
  background-image: linear-gradient(#020500, #030a00);
  font-family: Cabin, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

main {
  width: 20rem;
}

a {
  color: #21aa6a;
  text-decoration: none;
}
